* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1432847712612-926caafaa802?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
    background-size: cover;
    background-attachment: fixed;
}

.title h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.title {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.form {
    display: block;
    text-align: center;
    line-height: 80px;
    height: auto;
    background-color: rgba(0, 0, 0, .7);
    color: white;
}

.form-3 label{
    display: block;
    text-align: center;

}